@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
        
  
  .outer {
    
    width: var(--outer-width);
    height: var(--outer-height);
    
    position: relative;
    border-radius: 6px;  
    
    
  }
  
  .outer:hover {
    color:#ef233c;;
    transition: color 1s;
  }
  .outer:hover:before, .outer:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .outer::before  {
    content: "";
    width: 102%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -1%;
      animation: spin 2.5s linear infinite;
  }
  
  .outer::after {    
    content: "";
    
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);    
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  
  