



*{
    margin: 0;
    padding: 0;
   
   }
   *,::before,::after{
       box-sizing: border-box;
   }
   html{
       scroll-behavior: smooth;
   }
   
   body{
       font-family: 'Nunito',sans-serif;
       font-size: 14px;
       font-weight: 400;
       line-height: 1.8;
       color: var(--dark-color);
       background-color:#f9f5f5;
   }